.shareIconDiv {
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 5%;
  z-index: 2;
  background-color: #febb00;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkCopied {
  position: fixed;
  top: 9%;
  right: 5%;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.categoryListingName {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}
.categoryListingLocation {
  font-weight: 600;
  font-size: 0.7rem;
  opacity: 0.8;
  margin-bottom: 0;
}
.listingType {
  padding: 0.25rem 0.5rem;
  background-color: #00cc66;
  color: #ffffff;
  border-radius: 2rem;
  display: block;
  font-weight: 600;
  font-size: 0.8rem;
  width: fit-content;
}
.primaryButton {
  cursor: pointer;
  background: #00cc66;
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiperSlideDiv {
    position: relative;
    width: 100%;
    height: 100%;
  }